{% block sidenav %}

<div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">

                            <div class="sb-sidenav-menu-heading">Général</div>

                                <a class="nav-link" href="{{path('app_article')}}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                    Articles
                                </a>

                                <a class="nav-link" href="{{path('app_article_create')}}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                    Création
                                </a>

                            <div class="sb-sidenav-menu-heading">Mon Compte</div>

                                <a class="nav-link" href="{{path('app_article')}}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                    Login
                                </a>

                                <a class="nav-link" href="{{path('app_article_create')}}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                    Logout
                                </a>

                                <a class="nav-link" href="{{path('app_article_create')}}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                    Register
                                </a>  
                        </div>
                    </div>
                </nav>
            </div>
            
{% endblock %}