{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

{% include "includes/nav.html.twig" %}

{% include "includes/sidenav.html.twig" %}

            <div id="layoutSidenav_content">
                <main>
                    <div class="row">

                        {% for art in article %}
                        
                        <div class="card col-3" >
                                <div class="card-body">
                                    <h5 class="card-title">{{ art.titre }} - {{ art.id }}</h5>
                                    <p class="card-text">{{ art.texte }}</p>
                                    <p> Posté le : {{  art.date | date("m/d/Y") }} </p>
                                    <a href="{{path('app_article_update' , {'id':art.id})}}" class="btn btn-primary">Modifié</a>
                                    <a href="{{path('app_article_delete' , {'id':art.id})}}" class="btn btn-primary">Suprimé</a>
                                </div>
                        </div>
                        
                        {% endfor %}
                    </div>
                </main>

{% include "includes/footer.html.twig" %}

            </div>

{% endblock %}
